*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://cdn.dal.ca/faculty/computerscience/current/advising_resources/_jcr_content/contentPar/containertwocolumn/twoColumnCol1/staticimage_160780592.adaptive.full.high.jpg/1566573820769.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100;  
    cursor: pointer;
  }
  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 25;
  }
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after{
    width: 100%;
  }
 
   span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
   }
 